{% extends "admin/base_site.html" %}
{% load custom_tags_filters %}
{% block content %}
    <table style="width: 100%">
        <thead>
        <tr>
            <th>Country</th>
            <th>Number of games</th>
            <th>Avg Opp rating</th>
            <th>Win</th>
            <th>Loose</th>
            <th>Draw</th>
        </tr>
        </thead>
        <tbody>
        {% for row in games_per_countries %}
            <tr>
                <td>{% show_country_flag row.opponent_country 16 %}</td>
                <td>{{ row.count }}</td>
                <td>{{ row.avg_opponent_rating | floatformat:'0' }}</td>
                <td>{{ row.count_win }}</td>
                <td>{{ row.count_loose }}</td>
                <td>{{ row.count_draw }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

