{% load custom_tags_filters %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Mchess</title>
</head>
<body>

<div class="container-fluid">
    {% if games %}
        <span class="badge badge-primary">Primary</span>
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th>Start</th>
                <th>End</th>
                <th>Rating</th>
                <th>O Rating</th>
                <th>Color</th>
                <th>Termination</th>
                <th>Country</th>
                <th>Opening</th>
            </tr>
            </thead>
            <tbody>
            {% for game in games %}
                {% if game.result == 'win' %}
                    <tr class="table-success">
                        {% elif game.result == 'draw' %}
                    <tr class="table-warning">
                        {% else %}
                    <tr class="table-danger">
                {% endif %}
            <td><a target="_blank" href="https://www.chess.com/game/live/{{ game.id }}">{{ game.id }}</a></td>
            <td>{{ game.game_date | date:'d b Y' }} [{{ game.game_time | date:'H:i:s' }}]</td>
            <td>{{ game.game_end_date | date:'d b Y' }} [{{ game.game_end_time | date:'H:i:s' }}]</td>
            <td>{{ game.my_rating }}</td>
            <td>{{ game.opponent_rating }}</td>
            <td>{{ game.my_color }}</td>
            <td>{{ game.result_detail }}</td>
            <td>{% show_country_flag game.opponent_country %}</td>
            <td><a target="_blank" href="{{ game.eco_url }}">{{ game.eco }}</a></td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No games are available.</p>
    {% endif %}
    <nav aria-label="Page navigation" class="table-dark">
        <ul class="pagination">
            {% if games.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ games.previous_page_number }}">-</a></li>
            {% endif %}
            <li class="page-item active" aria-current="page">
                <span class="page-link">{{ games.number }} of {{ games.paginator.num_pages }}</span>
            </li>
            {% if games.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ games.next_page_number }}">+</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ games.paginator.num_pages }}">&raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
</body>
</html>
